{% extends 'base.html' %}
<body>
{% block page_title %}Регистрация{% endblock %}
{% block content %}

<div class="form-signin w-100 m-auto">
  <form method="post" action="{{ url_for('auth.sign_up') }}">
    <div class="form-floating mb-3">
      <input required type="text" name="login" class="form-control" id="login">
      <label for="login">Логин</label>
    </div>
    <div class="form-floating mb-3">
      <input required type="text" name="name" class="form-control" id="name">
      <label for="name">Имя и фамилия</label>
    </div>
    <div class="form-floating mb-3">
      <input required type="email" name="email" class="form-control" id="email">
      <label for="email">Электронная почта</label>
    </div>
    <div class="form-floating mb-3">
      <input required type="password" name="password" class="form-control" id="password">
      <label for="password">Пароль</label>
    </div>
    <div class="form-floating mb-3">
      <input required type="password" name="confirm" class="form-control" id="confirm">
      <label for="confirm">Подтвердить пароль</label>
    </div>
    <button class="w-100 btn btn-lg btn-ok" type="submit">Подтвердить</button>
  </form>
</div>

{% endblock %}
</body>
</html>
